*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}
body {
  background-color: black;
  text-align: center;
  color: white;
  font-family:courier,arial,helvetica;
}
header{
  width:100%;
  height: 40px;
  background-color: #176807;
  color:#fff;
  position: fixed;
  padding: 7px;
  top: 0;
  left: 0;
  z-index: 100;
}
.headerContainer{
  width: 98%;
 margin:auto;
}
header .headerContainer{
  display:table;
}
/*menü*/

.img1{
  float: left;
  margin-top: -20px;
  margin-left:-7px;
}

#menu-bar{
  display: none;
}

header label{
  float:right;
  font-size: 150%;
  margin:6px 0;
  cursor: pointer;
}

.menu{
  position: absolute;
  width: 100%;
  height: 160px;
  top:40px;
  left:0px;
  background-color:rgb(30, 30, 30);
  transform: translateX(-100%);
  
}

.menu a{
  font-size:60%;
  display: block;
  color:#d51833;
  height: 40px;
  text-decoration: none;
  padding:15px;
  border-bottom:1px solid rgb(255, 255, 255);
}

.menu a:hover{
  background:rgba(26, 1, 46, 0.363);
  height:40px;
}
  #menu-bar:checked ~.menu{
    transform:translateX(0%);
    transition:all 0.5s;
  }
/*menü*/


/*footer*/
footer{
  position: fixed;
  width: 100%;
  bottom:0%;
  background-color:#176807;
}
.kisiBilgi{
  display:flex;
}
.kisiBilgi .bolum{
  flex-basis: 50%;
  padding:1% 1%;
  width: 33%;
}
.bolum .aciklama{
  margin:1% 0 0 0;
}
.aciklama{
  font-size:50%;
}
.orta .aciklama p{
  text-align:center;
}
footer h2{
  color:#fff;
  font:normal 100% Cookie,cursive;
  margin: 0;
  font-weight:600;
}
footer h2 span{
  color:#d51833;
}
footer p.copyright{
color:#fff;
font-weight: 500;
margin: 0;
}
.orta .aciklama .sosyalMedya{
margin:3% 0 0 0;
}
.orta .aciklama .sosyalMedya a{
  padding:0 1%;
}
.orta .aciklama .sosyalMedya a span{
  line-height: 120%;
  height: 30px;
  width: 30px;
  text-align:center;
  color: #fff;
  background: #176807;
  font-size: 300%;
  border-radius: 200%;
  transition: 0.3s;
}
.orta .aciklama .sosyalMedya a span:hover{
  background:#d51833;
}

/*footer*/
.a1{
  color:#fff;
}
/*ortaKısım*/
.ortaResim{
width: 100%;
height:520px;
}
.isim{
  text-align: center;
  margin-top:-260px;
  font:normal 50px Cookie,cursive;
  color:#d51833;
}

.metin{
  margin-top:30px;
  color:#fff;
}
/*ortaKısım*/


/*degiskenYazi*/

@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  background-color: #000;
  color: #eee;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:-20%;
}
.container p {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

/*degiskenYazi*/